html {
    background-image: url("/recources/images/white-waves.png");
    scroll-behavior: smooth;
}


body {
    width: 100%;
    
}

/* Main Header styling ---------------------------------------------------------- */
header {
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 75px;
    background-color:#ffffff;
    top: 0;
    /* border: 1px solid black;  */
    overflow: hidden;
    border-bottom: 2px solid #cccccc;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    
}

.nav-bar { 
    height: 100%;
    margin: 0 auto;
    width: 960px;
    /* border: 1px solid blue; */
    /* display: flex;
    align-items: center; */
    
}

#logo-nav { 
    height: 100%;
    width: 20%;
    background-color:#4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    /* border: 1px solid red; */
    float: left;
    text-align: center;
    font-size: 35px;
    padding-top: 17px; 
}


#nav {
    margin-top: 25px;
    float: right;
    /* border: 1px solid green; */
    
    
}
#border-left{
    padding-left: 20px;
    border-left: 2px solid #77777735;
}
#border-right{
    border-right: 2px solid #77777735;
    padding-right: 20px;
}

#nav, li{
    padding: 5px 0;
    margin-left: 20px;
    display: inline;
}

a {
    text-decoration: none;
    color: #777777;
}
a:hover{
    color:#4aaaa5;
}


/* Main section styles ---------------------------------------------------------- */


.main-sec{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 960px;
    height: auto;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    /* padding: 20px; */
}

.inside-sec{
    width: 90%;
    margin: 20px auto;
    /* border: 1px solid green; */
}

.title{
    color: #4aaaa5;
    font-size: 35px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin-bottom: 20px;
    padding-bottom:20px;
    border-bottom: 2px solid #77777735 ;

}

/* home page styling ---------------------------------------------------------- */
.my-profile {
    position: relative;
    line-height: 30px;
}

#profile-img{
    width: 17%;
    float: left;
    margin: 0 20px 15px 0;
}

/* Contact page styling ---------------------------------------------------------- */
.enter{
    margin-bottom: 8px;
}
.input{
    margin-bottom: 8px;
    
}
.in-email, .in-name, .in-text{
    width: 100%;
    /* border: #ff1919; */
}
.in-text{
    height: 200px;
}
.button{
    background-color: #4aaaa5;
    color: #ffffff;
    width: 10%;
    height: 30px;
    width: 12%;
    height: 35px;
    font-size: 15px;
    border-radius: 2px;
}
.button:hover{
    /* color: #4aaaa5; */
    background-color: #777777;
    /* border: 1px solid #4aaaa577; */
    
}



/* gallery page styling ---------------------------------------------------------- */
.gallery{
    width: 60%;
    height: 520px;
    /* border: 1px solid red; */
    overflow: hidden;
}

.gal{
    max-width: 201px;
    max-height: 201px;
    width: 200px;
    height: 150px;
    /* border: 1px solid green; */
    margin: 0 25px 35px 0;
    position: relative;
    float: left;
}
.gal:hover{
    cursor: pointer;
    
} 

.gal-1{
    background-image: url("/recources/images/pic-one.jpg");
    
}
.gal-2{
    background-image: url("/recources/images/pic-two.jpg");
}
.gal-3{
    background-image: url("/recources/images/pic-three.jpg");
}
.gal-4{
    background-image: url("/recources/images/pic-four.jpg");
}
.gal-5{
    background-image: url("/recources/images/pic-five.jpg");
}

.image-text{
    font-size: 20px;
    width: 100%;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 8px;
}


/* footer styling ---------------------------------------------------------- */
.footer{
    text-align: center;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    z-index: 0;
    background-color: #666666;
    color: #ffffff;
    height: 60px;
    border-top: 5px solid #4aaaa5;
}

.footer p{ 
    margin-top: 20px;
}